#cabecalho {
    height: 150px;
    background-color: #D5CFA7;
}

#conteudo {
    height: 800px;
    background-color: #797066;
}

.lua {
    height: 200px;
    width: 200px;
}

#rodape {
    height: 200px;
    background-color: #3E362F;
}

.icones {
    height: 100px;
}