/*Zerando configurações do documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.cabecalho {
    width: 100%;
    height: 60px;
    background-color:teal;
}

.cabecalho h1{
    color: white;
    text-align: center;
    font-style: italic;
}
main{
    text-align: center;
    
}

#container-imagem{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('/REPLICASITE/IMG/italy.jpg');
    background-size: cover;
}

h3{
    position:absolute;
    color: rgb(59, 57, 57);
    font-size: 14px
    bottom: 800px;
    top:80px;
    left: 50px;
    right: 50px;
    box-shadow: 5px; 
    border: 1px solid;
    padding: 10px;

}

#video{
    position:absolute;
    left: 50%;
    right: 200px;
    bottom: 100px;
    top: 30%;
    margin-left: -500px;
    margin-top: -40px;
          
}

.lista{
    position:absolute;
    color:rgb(241, 237, 232);
    text-align: center;
    bottom: -20px;  
    left: 50px;
    right: 50px;  
    font-size: 18px;
    
}
.lista h2{
    font-style:italic;
    padding: 5px;
}

li {
    list-style-type:none;
}

footer #rodape{
    width: 100vw;
    height: 100vh;
    padding: 70px 0;

}
#rodape{
    background-color:white;
    text-align: center;
    color:teal;
    font-size: 20px;
}