body{
    font-family: 'Roboto', sans-serif;
    background-color: #ee0e29;
}

main{
    text-align: center;
}

img{
    border-radius: 20%;
    width: 40%;
    transition: all 0.5s ease-in-out;
}

img:hover{
    filter: saturate(0);
}

p::after{
    content: ' muito de tudo isso!';
    color: white;
}

@keyframes mainAnimation {
    from {
        transform:translateY(-100%);
    }
    to {
        transform: translateX(0%);
    }
}


.container{
    padding: 0% 30%;
}

legend{
    text-align: left;
}

input[type="email"], input[type="text"]{
    padding: 1%;
    margin-bottom: 10px;
    width: 83.3%;
}

input{
    transition: all 0.5s ease-in-out;
}

input:not([type="email"]):not([type="datetime-local"]):hover{
    background-color: #ee0e29;
    color: #fff;
}

input:disabled{
    background: black;
}

textarea{
    margin-bottom: 10px;
    width: 85%;
}

fieldset:nth-child(1) label{
    display: block;
}

fieldset:last-of-type{
    margin-bottom: 15px;
}